@font-face {
    font-family: 'sunny';
    src: url('@/assets/fonts/Sunny.otf') format('opentype');
  }

  @font-face {
    font-family: 'lofty';
    src: url('@/assets/fonts/Lofty.otf') format('opentype');
  }

  @font-face {
    font-family: 'bare';
    src: url('@/assets/fonts/Barely.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Pacifico';
    src: url('@/assets/fonts/Pacifico.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat.ttf') format('truetype');
  }

  @font-face {
    font-family: 'wig';
    src: url('@/assets/fonts/wiggly.ttf') format('truetype');
  }

  @font-face {
    font-family: 'corn';
    src: url('@/assets/fonts/corn.ttf') format('truetype');
  }

  @font-face {
    font-family: 'feas';
    src: url('@/assets/fonts/Feasibly.ttf') format('truetype');
  }

  @font-face {
    font-family: 'glue';
    src: url('@/assets/fonts/glue.ttf') format('truetype');
  }